@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
body{
  font-family: "Plus Jakarta Sans", sans-serif;
  @apply bg-crayola;
}
.bef-linear-gradient::before{
  background-color: transparent;
  background-image: linear-gradient(180deg, #00000000 13%, #30393FD9 67%);
}
/* .gradieant-header{ */
  /* @apply relative before:absolute before:top-0 before:left-0 before:content-['']; */
/* } */
.gradieant-header{
  @apply before:content-[''] before:absolute before:top-0 before:left-0 before:w-full before:h-full before:bg-black/20 before:-z-1;
  --background-overlay: '';
  background-image: linear-gradient(180deg, #0F5050 0%, #0F5050ED 1%);
}
.bg-before{
  @apply relative before:content-[''] before:top-0 before:left-0 before:absolute before:w-full before:h-full before:z-0;
}
.bg-before::before{
  background-color: transparent;
  background-image: linear-gradient(180deg, #00000000 13%, #30393FD9 67%);
}
.bg-svg-blur {
  transform: rotate(30deg);
  opacity: 0.6;
}
.bg-svg-blur-fs{
  opacity: 0.3;
}
.bg-svg-blur svg, .bg-svg-blur{
  -webkit-filter: blur(140px);
  -moz-filter: blur(140px);
  -o-filter: blur(140px);
  -ms-filter: blur(140px);
  filter: blur(140px);
}
.marquee-wrapper{
  @apply before:content-[''] before:w-6 md:before:w-14 xl:before:w-16 before:h-12 md:before:h-24 before:-left-1 md:before:left-0 before:top-4 before:z-10 before:shadow-3xl before:absolute before:bg-crayola;
}
.marquee-wrapper{
  @apply after:content-[''] after:w-6 md:after:w-14 xl:after:w-16 after:h-12 md:after:h-24 after:-right-1 md:after:right-0 after:top-4 after:z-10 after:shadow-5xl after:absolute after:bg-crayola;
}
.qx-marquee ul{
  -webkit-animation: marquee 50s linear infinite running;
  -moz-animation: marquee 50s linear infinite running;
  -o-animation: marquee 50s linear infinite running;
  -ms-animation: marquee 50s linear infinite running;
  animation: marquee 50s linear infinite running;
}
.qx-marquee ul:hover{
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  -ms-animation-play-state: paused;
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
  }
}

@keyframes marquee {
  0% {
      transform: translate3d(0%, 0, 0);
  }

  100% {
      transform: translate3d(-100%, 0, 0);
  }
}

.text-gradient{
  background: linear-gradient(360deg, #F89D35 0%, #F86058 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-style{
  background: linear-gradient(180deg, #8C51D53A  0%,#46296B3A  100%);
}
.gradient-style-one{
  background: linear-gradient(180deg, #CDB96733  0%,#675D3433  100%);
}
.gradient-colors{
  background: linear-gradient(90deg, #F1776F  0%,#DBC28A  51.39%,#54C0BD  100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient .main-title {
  background: linear-gradient(180deg, rgba(177, 86, 171, 1) 25%, rgba(30, 196, 196, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

 .main-title {
  background: linear-gradient(180deg, rgba(177, 86, 171, 1) 25%, rgba(30, 196, 196, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}
.badges-gradient{
  background: linear-gradient(200deg, #A5FFED  0%,#28928F  100%);
}
.overlay-slk{
  transition: opacity 1s;
}
.text-gradient-blue{
  background: linear-gradient(360deg, #8D65E9  0%,#9BDFF9  100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-blue{
  background: linear-gradient(90deg, #7B6BE5 0%, #6200EE 100%);
  opacity: 0.2;
}
.gradient-marker{
  background: linear-gradient(90deg, #FFD600 0%, #FFDF3B 100%);
  opacity: 0.2;
}
.gradient-product{
  background: linear-gradient(135deg, #0336FF 0%, #76C5EE 100%);
  opacity: 0.2;
}